body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.logo {
  width: 280px;
  margin-bottom: 20px;
}


.tagline {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}
.tagline {
  margin-bottom: 40px;
}
.tagline {
  margin-bottom: 40px;
}


.start-btn {
  background: linear-gradient(45deg, #ff7eb3, #ff758c);
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  transform: scale(1.05);
}
